### LIBRARY

In [40]:
import pandas as pd
import requests
import random
import time
import math

### SET UP THE ENVIRONMENT

In [41]:
HEADERS = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 Edg/121.0.0.0",
    "Accept-Language": 'en-US,en;q=0.9',
    "Accept-Encoding": "gzip, deflate, br, zstd",
    "Referer": "https://tiki.vn/",
    "From": "",
    "af-ac-enc-dat": "",
    "x-api-source": "pc"
}

### EXTRACT GROUP DATA

In [42]:
URL = "https://api.tiki.vn/raiden/v2/menu-config?platform=desktop"

In [43]:
response = requests.get(URL, headers=HEADERS)
time.sleep(random.uniform(3.2, 8.7))
if response.status_code == 200:
    data = response.json()
    print(f"Success to fetch {len(data["menu_block"]["items"])} groups.")
else:
    print("Failed to fetch data:", response.status_code)

Success to fetch 26 groups.

### EXTRACT GROUP ID
Extract the group id = 1846, 1789

In [44]:
group = data["menu_block"]["items"]
group_list = []
for group in group:
    link = group["link"]
    group_id = link.split("/")[-1][1:]
    text = group["text"]
    
    # if group_id in ["1789"]:
    if group_id in ["1846", "1789"]:
        group_list.append([group_id, text])

group = pd.DataFrame(group_list, columns=["GroupID", "Name"])
print(f"Success to extract {len(group)} needed groups.")
print(group["GroupID"].values)

Success to extract 2 needed groups.
['1789' '1846']

### EXTRACT CATEGORY HIERARCHY

In [45]:
category_list = []
for group_id, group_name in zip(group["GroupID"], group["Name"]):
    parent_url = f"https://tiki.vn/api/v2/categories?parent_id={group_id}"
    parent_response = requests.get(parent_url, headers=HEADERS)
    time.sleep(random.uniform(3.2, 8.7))
    if parent_response.status_code == 200:
        parent_data = parent_response.json()
        if not parent_data["data"]:
            category_list.append([group_id, group_name, None, None, None, None, None, None])
        else:
            for parent_category in parent_data["data"]:
                parent_id = parent_category["id"]
                parent_name = parent_category["name"]
                
                child_url = f"https://tiki.vn/api/v2/categories?parent_id={parent_id}"
                child_response = requests.get(child_url, headers=HEADERS)
                time.sleep(random.uniform(3.2, 8.7))
                
                if child_response.status_code == 200:
                    child_data = child_response.json()
                    if not child_data["data"]:
                        category_list.append([group_id, group_name, parent_id, parent_name, None, None, None, None])
                    else:
                        for child_category in child_data["data"]:
                            child_id = child_category["id"]
                            child_name = child_category["name"]
                            
                            type_url = f"https://tiki.vn/api/v2/categories?parent_id={child_id}"
                            type_response = requests.get(type_url, headers=HEADERS)
                            time.sleep(random.uniform(3.2, 8.7))
                            
                            if type_response.status_code == 200:
                                type_data = type_response.json()
                                if type_data["data"]:
                                    for type_item in type_data["data"]:
                                        type_id = type_item.get("id")
                                        type_name = type_item.get("name")
                                        category_list.append([group_id, group_name, parent_id, parent_name, child_id, child_name, type_id, type_name])
                                else:
                                    category_list.append([group_id, group_name, parent_id, parent_name, child_id, child_name, None, None])

category_df = pd.DataFrame(category_list, columns=["GroupID", "GroupName", "MasterCategoryID", "MasterCategoryName", "CategoryID", "CategoryName", "SubCategoryID", "SubCategoryName"])

In [46]:
print(f"Success to fetch {len(category_df)} categories.")

Success to fetch 82 categories.

### TRANSFORM CATEGORY HIERARCHY

In [48]:
def remove_single_category(df):
    # Group the DataFrame by MasterCategoryID and count the unique CategoryID values
    category_counts = df.groupby('MasterCategoryID')['CategoryID'].nunique()
    
    # Create a mask for MasterCategoryIDs with only one CategoryID
    single_category_mask = category_counts == 1
    
    # Drop the CategoryID and CategoryName columns for rows where there is only one CategoryID
    df.loc[df['MasterCategoryID'].isin(single_category_mask[single_category_mask].index), ['CategoryID', 'CategoryName']] = [None, None]
    
    return df

In [49]:
cleaned_df = remove_single_category(category_df)

In [50]:
def transform_category(row):
    # Handle MasterCategory and Category
    if pd.isna(row['CategoryID']):
        master_category_id = row['MasterCategoryID']
        master_category_name = row['MasterCategoryName']
        category_id = row['MasterCategoryID']
        category_name = row['MasterCategoryName']
        is_category = 0
    else:
        master_category_id = row['MasterCategoryID']
        master_category_name = row['MasterCategoryName']
        category_id = row['CategoryID']
        category_name = row['CategoryName']
        is_category = 1

    # Handle SubCategory
    if pd.isna(row['SubCategoryID']):
        sub_category_id = category_id
        sub_category_name = category_name
        is_sub_category = 0
    else:
        sub_category_id = row['SubCategoryID']
        sub_category_name = row['SubCategoryName']
        is_sub_category = 1

    return pd.Series([
        master_category_id, master_category_name, category_id, category_name,
        is_category, sub_category_id, sub_category_name, is_sub_category
    ])

In [51]:
print("Check null for each column in category")
for column in category_df.columns:
    null_percentage = category_df[column].isnull().mean() * 100
    print(f"Null percentage for {column}: {null_percentage:.2f}%")
category_df.head()

Check null for each column in category
Null percentage for GroupID: 0.00%
Null percentage for GroupName: 0.00%
Null percentage for MasterCategoryID: 0.00%
Null percentage for MasterCategoryName: 0.00%
Null percentage for CategoryID: 6.10%
Null percentage for CategoryName: 6.10%
Null percentage for SubCategoryID: 57.32%
Null percentage for SubCategoryName: 57.32%

,GroupID,GroupName,MasterCategoryID,MasterCategoryName,CategoryID,CategoryName,SubCategoryID,SubCategoryName
0,1789,Điện Thoại - Máy Tính Bảng,1795,Điện thoại Smartphone,NaN,None,NaN,None
1,1789,Điện Thoại - Máy Tính Bảng,1794,Máy tính bảng,NaN,None,NaN,None
2,1789,Điện Thoại - Máy Tính Bảng,28856,Máy đọc sách,NaN,None,NaN,None
3,1789,Điện Thoại - Máy Tính Bảng,1796,Điện thoại phổ thông,NaN,None,NaN,None
4,1789,Điện Thoại - Máy Tính Bảng,8061,Điện thoại bàn,NaN,None,NaN,None

In [52]:
category_df[['MasterCategoryID', 'MasterCategoryName', 'CategoryID', 'CategoryName',
             'isCategory', 'SubCategoryID', 'SubCategoryName', 'isSubCategory']] = category_df.apply(transform_category, axis=1, result_type='expand')

In [53]:
print("Check null for each column in category")
for column in category_df.columns:
    null_percentage = category_df[column].isnull().mean() * 100
    print(f"Null percentage for {column}: {null_percentage:.2f}%")
category_df.head()

Check null for each column in category
Null percentage for GroupID: 0.00%
Null percentage for GroupName: 0.00%
Null percentage for MasterCategoryID: 0.00%
Null percentage for MasterCategoryName: 0.00%
Null percentage for CategoryID: 0.00%
Null percentage for CategoryName: 0.00%
Null percentage for SubCategoryID: 0.00%
Null percentage for SubCategoryName: 0.00%
Null percentage for isCategory: 0.00%
Null percentage for isSubCategory: 0.00%

,GroupID,GroupName,MasterCategoryID,MasterCategoryName,CategoryID,CategoryName,SubCategoryID,SubCategoryName,isCategory,isSubCategory
0,1789,Điện Thoại - Máy Tính Bảng,1795,Điện thoại Smartphone,1795.0,Điện thoại Smartphone,1795.0,Điện thoại Smartphone,0,0
1,1789,Điện Thoại - Máy Tính Bảng,1794,Máy tính bảng,1794.0,Máy tính bảng,1794.0,Máy tính bảng,0,0
2,1789,Điện Thoại - Máy Tính Bảng,28856,Máy đọc sách,28856.0,Máy đọc sách,28856.0,Máy đọc sách,0,0
3,1789,Điện Thoại - Máy Tính Bảng,1796,Điện thoại phổ thông,1796.0,Điện thoại phổ thông,1796.0,Điện thoại phổ thông,0,0
4,1789,Điện Thoại - Máy Tính Bảng,8061,Điện thoại bàn,8061.0,Điện thoại bàn,8061.0,Điện thoại bàn,0,0

In [54]:
category_df.columns

Index(['GroupID', 'GroupName', 'MasterCategoryID', 'MasterCategoryName',
       'CategoryID', 'CategoryName', 'SubCategoryID', 'SubCategoryName',
       'isCategory', 'isSubCategory'],
      dtype='object')

In [55]:
category_df["GroupID"] = category_df["GroupID"].astype(int)
category_df["MasterCategoryID"] = category_df["MasterCategoryID"].astype(int)
category_df["CategoryID"] = category_df["CategoryID"].astype(int)
category_df["SubCategoryID"] = category_df["SubCategoryID"].astype(int)

In [56]:
group = group.drop_duplicates()

master_category = category_df[["MasterCategoryID", "GroupID", "MasterCategoryName"]].drop_duplicates()
master_category = master_category.rename(columns={"MasterCategoryName": "Name"})

category = category_df[["CategoryID", "MasterCategoryID", "CategoryName", "isCategory"]].drop_duplicates()
category = category.rename(columns={"CategoryName": "Name"})

sub_category = category_df[["SubCategoryID", "CategoryID", "SubCategoryName", "isSubCategory"]].drop_duplicates()
sub_category = sub_category.rename(columns={"SubCategoryName": "Name"})

In [57]:
print(f"Success to transform {len(master_category)} master categories.")
print(f"Success to transform {len(category)} categories.")
print(f"Success to transform {len(sub_category)} sub categories.")

Success to transform 11 master categories.
Success to transform 59 categories.
Success to transform 82 sub categories.

### EXTRACT PRODUCT ID THROUGH SUB-CATEGORY ID

In [62]:
master_category = pd.read_csv("category_data/master_category.csv")
category = pd.read_csv("category_data/category.csv")
sub_category = pd.read_csv("category_data/sub_category.csv")

# master_category = pd.DataFrame(master_category)
# category = pd.DataFrame(category)
# sub_category = pd.DataFrame(sub_category)

In [ ]:
# base_url = "https://tiki.vn/api/personalish/v1/blocks/listings"
# params = {"category": 1795, 
#           "page": 1}
# # Make initial request to get total count
# response = requests.get(base_url, headers=HEADERS, params=params)
# time.sleep(random.uniform(3.2, 8.7))
# data = response.json()
# last_page = data["paging"]["last_page"]

# product_ids = []
# for page in range(1, last_page + 1):
#     params = {"category": 1795, "page": page}
#     response = requests.get(base_url, headers=HEADERS, params=params)
#     time.sleep(random.uniform(3.2, 8.7))
    
#     data = response.json()
#     for item in data["data"]:
#         product_ids.append(item["id"])
        
# product_ids

In [67]:
def retrieve_product_ids(sub_category_id):
    base_url = "https://tiki.vn/api/personalish/v1/blocks/listings"
    PARAMS = {"category": sub_category_id, 
              "page": 1}
    response = requests.get(base_url, headers=HEADERS, params=PARAMS)
    time.sleep(random.uniform(3.2, 8.7))
    
    data = response.json()
    total_page = data["paging"]["last_page"]
    total_product = data["paging"]["total"]
    
    print(f"Total page for sub-category {sub_category_id} ({total_product}): {total_page}")

    # Fetch data from each page
    product_ids = []
    for page in range(1, total_page + 1):
        PARAMS = {"category": sub_category_id, 
                  "page": page}
        response = requests.get(base_url, headers=HEADERS, params=PARAMS)
        time.sleep(random.uniform(3.2, 8.7))
        
        data = response.json()
        for item in data["data"]:
            product_ids.append(item["id"])

    return product_ids

In [68]:
product_df = []

for sub_category_id in sub_category['SubCategoryID']:
    product_ids = retrieve_product_ids(sub_category_id)
    for product_id in product_ids:
        product_df.append({'SubCategoryID': sub_category_id, 'ProductID': product_id})

# Convert the list of dictionaries to a DataFrame
product_ids_df = pd.DataFrame(product_df)

Total page for sub-category 1795 (314): 8
Total page for sub-category 1794 (83): 3
Total page for sub-category 28856 (48): 2
Total page for sub-category 1796 (75): 2
Total page for sub-category 8061 (62): 2
Total page for sub-category 29010 (628): 16
Total page for sub-category 2458 (2): 1
Total page for sub-category 5584 (103): 3
Total page for sub-category 29008 (7): 1
Total page for sub-category 29012 (0): 0
Total page for sub-category 28932 (410): 11
Total page for sub-category 12672 (401): 11
Total page for sub-category 28934 (15): 1
Total page for sub-category 28930 (81): 3
Total page for sub-category 6556 (191): 5
Total page for sub-category 6561 (61): 2
Total page for sub-category 8089 (9): 1
Total page for sub-category 28936 (416): 11
Total page for sub-category 28938 (2): 1
Total page for sub-category 8087 (29): 1
Total page for sub-category 28940 (628): 16
Total page for sub-category 6255 (213): 6
Total page for sub-category 28942 (767): 20
Total page for sub-category 28944 (2000): 50
Total page for sub-category 4542 (49): 2
Total page for sub-category 28946 (388): 10
Total page for sub-category 28948 (554): 14
Total page for sub-category 28950 (52): 2
Total page for sub-category 28952 (324): 9
Total page for sub-category 28960 (151): 4
Total page for sub-category 29002 (2): 1
Total page for sub-category 30020 (475): 12
Total page for sub-category 10089 (42): 2
Total page for sub-category 12886 (660): 17
Total page for sub-category 8088 (1): 1
Total page for sub-category 29006 (138): 4
Total page for sub-category 12890 (89): 3
Total page for sub-category 4051 (112): 3
Total page for sub-category 2146 (400): 10
Total page for sub-category 28840 (99): 3
Total page for sub-category 28842 (94): 3
Total page for sub-category 5350 (270): 7
Total page for sub-category 5349 (170): 5
Total page for sub-category 1828 (231): 6
Total page for sub-category 28838 (35): 1
Total page for sub-category 4316 (49): 2
Total page for sub-category 4293 (465): 12
Total page for sub-category 4294 (142): 4
Total page for sub-category 4343 (95): 3
Total page for sub-category 4345 (231): 6
Total page for sub-category 4454 (388): 10
Total page for sub-category 4642 (1840): 46
Total page for sub-category 28894 (188): 5
Total page for sub-category 4346 (9): 1
Total page for sub-category 7361 (89): 3
Total page for sub-category 28896 (15): 1
Total page for sub-category 4585 (13): 1
Total page for sub-category 8094 (52): 2
Total page for sub-category 7369 (19): 1
Total page for sub-category 67081 (1): 1
Total page for sub-category 29014 (22): 1
Total page for sub-category 29016 (137): 4
Total page for sub-category 28900 (417): 11
Total page for sub-category 11964 (204): 6
Total page for sub-category 11956 (292): 8
Total page for sub-category 11962 (167): 5
Total page for sub-category 11960 (284): 8
Total page for sub-category 28904 (518): 13
Total page for sub-category 28906 (118): 3
Total page for sub-category 11958 (155): 4
Total page for sub-category 11966 (124): 4
Total page for sub-category 2679 (147): 4
Total page for sub-category 12298 (213): 6
Total page for sub-category 28908 (30): 1
Total page for sub-category 28910 (9): 1
Total page for sub-category 28914 (29): 1
Total page for sub-category 28916 (79): 2
Total page for sub-category 11968 (368): 10
Total page for sub-category 28920 (2000): 50
Total page for sub-category 28922 (2000): 50
Total page for sub-category 28924 (2000): 50
Total page for sub-category 28926 (36): 1

In [69]:
product_ids_df

       SubCategoryID  ProductID
0               1795  184036446
1               1795  184059211
2               1795   57809866
3               1795  120295859
4               1795  123345348
...              ...        ...
23821          28926  249024285
23822          28926  204425773
23823          28926   13429081
23824          28926   72843893
23825          28926   90524342

[23826 rows x 2 columns]