In [1]:
import pyodbc
import json

In [2]:
# Read the configuration from the config.prod.json file
with open('./configs/config.prod.json') as f:
    config = json.load(f)['ProductionDB']

# Configuration for the SQL Server connection
server = config['server']
database = config['database']
username = config['username']
password = config['password']
driver = config['driver']

# Connection string
conn_str = (
    f"DRIVER={driver};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password}"
)

In [3]:
conn = pyodbc.connect(conn_str)
print("Connected to Azure SQL Server")

# You can execute queries or perform other operations here
cursor = conn.cursor()

Connected to Azure SQL Server

In [4]:
# Create a new table
cursor.execute("""
    CREATE TABLE TestTable (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Name NVARCHAR(50),
        Age INT
    )
""")
print("Table created successfully")

Table created successfully

In [5]:
# Insert data (Create)
cursor.execute("INSERT INTO TestTable (Name, Age) VALUES (?, ?)", ("John Doe", 30))
cursor.execute("INSERT INTO TestTable (Name, Age) VALUES (?, ?)", ("Jane Smith", 25))
conn.commit()
print("Data inserted successfully")

Data inserted successfully

In [6]:
# Read data
cursor.execute("SELECT * FROM TestTable")
rows = cursor.fetchall()
print("Data in the table:")
for row in rows:
    print(row)

Data in the table:
(1, 'John Doe', 30)
(2, 'Jane Smith', 25)

In [7]:
# Update data
cursor.execute("UPDATE TestTable SET Age = ? WHERE Id = ?", (35, 1))
conn.commit()
print("Data updated successfully")

Data updated successfully

In [8]:
# Read data after update
cursor.execute("SELECT * FROM TestTable")
rows = cursor.fetchall()
print("Data in the table after update:")
for row in rows:
    print(row)

Data in the table after update:
(1, 'John Doe', 35)
(2, 'Jane Smith', 25)

In [9]:
# Delete data
cursor.execute("DELETE FROM TestTable WHERE Id = ?", 2)
conn.commit()
print("Data deleted successfully")

Data deleted successfully

In [10]:
# Read data after delete
cursor.execute("SELECT * FROM TestTable")
rows = cursor.fetchall()
print("Data in the table after delete:")
for row in rows:
    print(row)

Data in the table after delete:
(1, 'John Doe', 35)

In [11]:
# Drop the table
cursor.execute("DROP TABLE TestTable")
print("Table dropped successfully")

Table dropped successfully

In [12]:
# Close the connection
conn.close()
print("Connection closed")

Connection closed